

$contentHeaderHeight: $v-row-3;


.o-contentHeader {
    /* -ctag-example: ...
        { .o-contentHeader__title }
        { .o-contentHeader__rightNav }*/
    @include a-width-100;
    @include a-height-row( $contentHeaderHeight );
    @include a-background-grey-10;

    &__title {
        /* -ctag-example: ...Content Header Title*/
        @include a-text-size-larger;
        @include a-line-height-row( $contentHeaderHeight );
        @include a-text-color-grey-6;
        @include a-float-clear-left;

        font-weight: 500;
        letter-spacing: .5px;
        text-transform: uppercase;
    }

    &__rightNav {
        /* -ctag-example: ...Right Nav*/
        @include a-line-height-row( $contentHeaderHeight );
        @include a-float-clear-right;
    }

}
