.c-test {
    @include a-width-col-3;
    @include a-height-minus-unit-8;
    @include a-background-grey-5;
    @include a-position-absolute;

    @include breakpoint-sm-a-width-col-1;
    @include breakpoint-sm-a-height-minus-unit-7;
}

.c-losa {
    @include a-position-absolute;
    @include a-border;
    @include a-text-align-center;

    @include a-text-unit;
    @include a-padding-unit-v-4;
    @include a-width-col-4;

    @include breakpoint-md-a-text-unit-three-quarters;
    @include breakpoint-md-a-padding-unit-v-3;
    @include breakpoint-md-a-width-col-5;
    
    @include breakpoint-sm-a-text-unit-half;
    @include breakpoint-sm-a-padding-unit-v-2;
    @include breakpoint-sm-a-width-col-6;
}

// General

body { font-family: Nexa,sans-serif;}

//
// Objects
//

.o-menubar {
  @include a-margin-0;
  @include a-width-100;
  @include a-height-unit-2;
  @include a-background-seafoam;
}


.o-menubar-item {
  @include a-display-inline-block;
  @include a-padding-unit-quarter;
  @include a-height-unit-1-half;
  @include a-margin-unit-quarter;
  @include a-text-color-grey-9;
}

.o-content-block {
  @include a-width-100;
}

.o-centered-copy {
  @include a-position-absolute;
  @include a-text-align-center;
  @include a-transform-center;
  @include a-width-col-8;
}

.o-rounded-border {
  @include a-border;
  border-radius: 5px;
}

.o-social-icon {
  @include a-grayscale-1;
  &:hover {
    @include a-grayscale-0;
  }
}

$orange_bg: #DC5034;
$orange_border: #F49888;

.o-orange-button {

  @include a-display-inline-block;
  @include a-padding-unit-half;
  @include a-text-align-center;
  @include a-interactive;
  border: 1px solid transparent;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  @include a-text-color-grey-9;
  background-color: $orange_bg;
  border-color: $orange_border;

  &:hover {
    background-color: $orange_border;
    color: $orange_bg;
    border-color: $orange-bg;
  }
}

// Navbar

.c-navbar {
  @extend .o-menubar;
  @include a-position-fixed;
  @include a-position-top;
  @include a-zindex-top;
}

.c-navbar-brand {
  @extend .o-menubar-item;
  @include a-width-col-4;
  @include a-text-color-grey-8;
}

.c-navbar-icon {
  @extend .o-menubar-item;
  @include a-padding-unit-v-0;
  vertical-align: middle;
}

// Call to Action

.c-calltoaction {
  @extend .o-content-block;
  @include a-height-100;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%, url("../prototyping/up_column.png") repeat scroll 0% 0% transparent;
}

.c-calltoaction-copy {
  @include a-text-color-grey-9;
  @include a-position-absolute;
  @include a-position-bottom-right;
  @include a-width-col-4;
  @include a-margin-unit-right;
  @include a-bottom-unit-8;
}

// Tagline

.c-tagline {
  @extend .o-content-block;
  @include a-height-minus-unit-5;
  background-image: url("../prototyping/brr.jpg");
  background-size: cover;
  background-position: center center;
}

.c-tagline-copy {
  @extend .o-centered-copy;
  @include a-text-color-grey-9;
}

// Family

.c-family {
  @extend .o-content-block;
  @include a-height-minus-unit-8;
  @include a-background-grey-9;
}

.c-family-copy {
  @extend .o-centered-copy;
  @include a-text-color-grey-4;
}

// Footer menu bar

.c-footer-menu {
  @extend .o-menubar;
  // Issue: this background image is not the right size for the unit row heights.
  background: #555 url("../prototyping/footer_bar.png") repeat;
}

.c-footer-newsletter {
  @extend .o-menubar-item;
  @include a-float-clear-right;
  @include a-text-unit-three-quarters;
  @include a-margin-unit-v-0;
  padding: 3px;
}

.c-footer {
  @extend .o-content-block;
  @include a-background-grey-3;
  @include a-height-unit-8;
}

.c-footer-item {
  @include a-display-inline-block;
  @include a-width-col-2;
}

.c-footer-row {
  @include a-width-100;
  @include a-display-flex;
  @include a-flex-center;
}

.c-footer-aptible {
  @extend .c-footer-item;
}